<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "AnimalHealing", root_path , class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "投稿一覧", posts_path , class: "nav-link" %>
        <!-- <span class="sr-only">(current)</span> -->
      </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "新規投稿", new_post_path ,class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "マイページ", user_path(current_user.id) ,class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path , method: :delete,class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= search_form_for @search, url: search_posts_path do |f| %>
            <div class="input-group">
            <%= f.search_field :content_cont, placeholder: "ツイートを検索",class: "form-control"%>
            <span class="input-group-btn">
               <!-- f.submit "検索", class: "btn btn-default"%> -->
               <%= button_tag "検索", :name => nil, class: "btn btn-primary" %>
            </span>
            </div>
          <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "かんたんログイン", users_guest_sign_in_path , method: :post , class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path , class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path , class: "nav-link" %>
      </li>
    <% end%>
    </ul>
  </div>
</nav>
